<h2 mat-dialog-title>{{ isEdit ? "Editar Pessoa" : "Adicionar Pessoa" }}</h2>
<mat-dialog-content class="form-container">
  <form [formGroup]="pessoaForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="nome" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Age</mat-label>
      <input matInput type="number" formControlName="idade" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Maritual Status</mat-label>
      <mat-select formControlName="estadoCivil">
        <mat-option *ngFor="let estadoCivil of maritalStatuses" [value]="estadoCivil.value">
          {{ estadoCivil.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput formControlName="cidade" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>States</mat-label>
      <mat-select formControlName="estado">
        <mat-option *ngFor="let estado of brazilStates" [value]="estado.sigla">
          {{ estado.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="buttons-container">
      <button type="button" class="btn btn-danger" (click)="close()">
        Cancel
      </button>
      <button
        type="button"
        [ngClass]="pessoaForm.invalid ? 'btn btn-light' : 'btn btn-success'"
        (click)="save()"
        [disabled]="pessoaForm.invalid"
      >
        {{ isEdit ? "Edit"  : "Add" }}
      </button>
    </div>
  </form>
</mat-dialog-content>
