.form-container {
  display: flex;
  align-items: center; /* Alinha todos os elementos no centro verticalmente */
  gap: 10px; /* Espaço entre os campos */
  flex-wrap: wrap; /* Permite que os elementos se ajustem caso a tela seja menor */
}

mat-form-field {
  flex: 1; /* Ocupa o espaço disponível */
  min-width: 150px; /* Garante um tamanho mínimo */
}

.button-container {
  display: flex;
  align-items: right;
  height: 56px; /* Mesmo tamanho dos campos */
}

button {
  height: 100%;
  background-color: #3f51b5 !important; /* Cor azul */
  color: white !important;
  min-width: 100px; /* Define um tamanho mínimo para o botão */
}
