.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

.mat-dialog-container {
  padding: 24px !important;
  border-radius: 10px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 16px;
}

